jaffa-soa/source/java/org/jaffa/soa/transformation/meta/ws_xlst-config.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--W3C Schema generated by XMLSpy v2012 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0">
  <xs:annotation>
    <xs:appinfo>
      <jaxb:schemaBindings>
        <jaxb:package name="org.jaffa.soa.transformation.meta" />
      </jaxb:schemaBindings>
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="mapping">
    <xs:complexType>
      <xs:attribute name="path" type="xs:string" />
      <xs:attribute name="xsltscript" type="xs:string" use="required" />
      <xs:attribute name="inboundSchema" type="xs:string" />
      <xs:attribute name="rootElement" type="xs:string" />
      <xs:attribute name="qName" />
      <xs:attribute name="array" type="xs:boolean" />
      <xs:attribute name="function" use="required" />
      <xs:attribute name="endpoint" type="xs:string" use="required" />
      <xs:attribute name="direction" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="IN" />
            <xs:enumeration value="OUT" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="config">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mapping" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>