jaffa-patterngenerator/src/main/java/jaffatools/patterns/library/object_maintenance_1_0/object-maintenance-meta_1_0.dtd

<?xml version="1.0" encoding="US-ASCII"?>

<!-- This dtd is used for validating the Meta files for generating the various object maintenance files -->

<!ELEMENT Root (PatternTemplate,Application,Module,Component,BasePackage,DomainObject,DomainPackage,CreateTitle?,UpdateTitle?,KeyFields,Fields,ForeignObjects?)>
<!ELEMENT PatternTemplate (#PCDATA)>
<!ELEMENT Application (#PCDATA)>
<!ELEMENT Module (#PCDATA)>
<!ELEMENT Component (#PCDATA)>
<!ELEMENT BasePackage (#PCDATA)>
<!ELEMENT DomainObject (#PCDATA)>
<!ELEMENT DomainPackage (#PCDATA)>
<!ELEMENT CreateTitle (#PCDATA)>
<!ELEMENT UpdateTitle (#PCDATA)>

<!ELEMENT KeyFields (KeyField+)>
<!ELEMENT KeyField (Name,DataType,DomainField)>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT DataType (#PCDATA)>
<!ELEMENT DomainField (#PCDATA)>

<!ELEMENT Fields (Field+)>
<!ELEMENT Field (Name,DataType,Display,Mandatory,Layout?,Label?,Width,DomainField,InitialValue?,Breakup?,FunctionGuardName?,WMGetterCustomBlock?)>
<!ELEMENT Display (#PCDATA)>
<!ELEMENT Mandatory (#PCDATA)>
<!ELEMENT Layout (#PCDATA)>
<!ELEMENT Label (#PCDATA)>
<!ELEMENT Width (#PCDATA)>
<!ELEMENT InitialValue (#PCDATA)>
<!ELEMENT Breakup (WidgetType,StaticValues?,DynamicValues?)>
<!ELEMENT WidgetType (#PCDATA)>
<!ELEMENT StaticValues (StaticValue+)>
<!ELEMENT StaticValue (Code,Description)>
<!ELEMENT Code (#PCDATA)>
<!ELEMENT Description (#PCDATA)>
<!ELEMENT DynamicValues (DomainClassName,CodeFieldName,DescriptionFieldName,BreakupCriteriaFields?,CodeHelperInterface?,AppendCodeAndDescription?,AppendBeginMarker?,AppendEndMarker?)>
<!ELEMENT DomainClassName (#PCDATA)>
<!ELEMENT CodeFieldName (#PCDATA)>
<!ELEMENT DescriptionFieldName (#PCDATA)>
<!ELEMENT BreakupCriteriaFields (BreakupCriteriaField+)>
<!ELEMENT BreakupCriteriaField (DataType,DomainField,Operator,Values)>
<!ELEMENT Operator (#PCDATA)>
<!ELEMENT Values (#PCDATA)>
<!ELEMENT CodeHelperInterface (#PCDATA)>
<!ELEMENT AppendCodeAndDescription (#PCDATA)>
<!ELEMENT AppendBeginMarker (#PCDATA)>
<!ELEMENT AppendEndMarker (#PCDATA)>
<!ELEMENT FunctionGuardName (#PCDATA)>
<!ELEMENT WMGetterCustomBlock (#PCDATA)> <!-- This can be either First, Last -->

<!ELEMENT ForeignObjects (ForeignObject+)>
<!ELEMENT ForeignObject (Object,Package,ForeignFields,Lookup?)>
<!ELEMENT Object (#PCDATA)>
<!ELEMENT Package (#PCDATA)>
<!ELEMENT ForeignFields (ForeignField+)>
<!ELEMENT ForeignField (Name,DataType,Display,Mandatory,Layout?,Label?,Width,DomainField,DomainFieldInForeignObject,KeyType,InitialValue?,SourceChain?,Breakup?,FunctionGuardName?)>
<!ELEMENT DomainFieldInForeignObject (#PCDATA)>
<!ELEMENT SourceChain (Source+)>
<!ELEMENT Source (Object,Package,JoinFields)>
<!ELEMENT JoinFields (JoinBetween+)>
<!ELEMENT JoinBetween (DomainObjectField,SourceField)>
<!ELEMENT DomainObjectField (#PCDATA)>
<!ELEMENT KeyType (#PCDATA)> <!-- This can be either Primary, Technical or Candidate. Primary and Technical keytypes will be persisted. Primary and Candidate keytypes will be used for validations. If no keytype is specified, then it will merely be treated as an additional info display-only field-->
<!ELEMENT SourceField (#PCDATA)>
<!ELEMENT Lookup (Component,BypassCriteriaScreen,StaticParameters,DynamicParameters,TargetFields)>
<!ELEMENT BypassCriteriaScreen (#PCDATA)>
<!ELEMENT StaticParameters (#PCDATA)>
<!ELEMENT DynamicParameters (#PCDATA)>
<!ELEMENT TargetFields (#PCDATA)>
