jaffa-patterngenerator/src/main/java/jaffatools/patterns/library/object_maintenance_1_0/objectMaintenanceMeta_1_0.xsd

<?xml version="1.0" encoding="US-ASCII"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
            jxb:version="1.0"
            elementFormDefault="qualified">

  <xsd:include schemaLocation="../common_1_0/dataTypes_1_0.xsd"/>
  <xsd:include schemaLocation="../common_1_0/sourceChain_1_0.xsd"/>
  <xsd:include schemaLocation="../common_1_0/breakup_1_0.xsd"/>

  <xsd:annotation>
    <xsd:appinfo>
      <jxb:schemaBindings>
        <jxb:package name="org.jaffa.patterns.library.object_maintenance_meta_1_0.domain"/>
      </jxb:schemaBindings>
    </xsd:appinfo>
  </xsd:annotation>

  <xsd:element name="Root">
    <xsd:annotation>
      <xsd:appinfo>
        <jxb:class name="ObjectMaintenanceMeta"/>
      </xsd:appinfo>
    </xsd:annotation>
    
    <xsd:complexType>
      <xsd:sequence>
      
        <xsd:element name="PatternTemplate" 	type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="Application" 	type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="Module" 		type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="Component" 		type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="BasePackage" 	type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="DomainObject" 	type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="DomainPackage" 	type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="CreateTitle"		type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="UpdateTitle"		type="xsd:string" minOccurs="0" maxOccurs="1"/>

        <xsd:element name="KeyFields" 		type="keyFields" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="Fields" 		type="fields" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="ForeignObjects" 	type="foreignObjects" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>


  <xsd:complexType name="keyFields">
    <xsd:sequence>
      <xsd:element name="KeyField" type="keyField" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="keyField">
    <xsd:sequence>
        <xsd:element name="Name" 		type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="DataType" 		type="dataTypes" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="DomainField" 	type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="fields">
    <xsd:sequence>
      <xsd:element name="Field" type="field" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="field">
    <xsd:sequence>
      <xsd:element name="Name"			type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="DataType"		type="dataTypes" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Display"		type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Mandatory"		type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Layout"		type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Label"			type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Width"			type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="DomainField"		type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="InitialValue"		type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BreakUp" 		type="breakup" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FunctionGuardName"	type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="WMGetterCustomBlock"	type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>




  <xsd:complexType name="foreignObjects">
    <xsd:sequence>
      <xsd:element name="ForeignObject" type="foreignObject" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="foreignObject">
    <xsd:sequence>
      <xsd:element name="Object"		type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Package"		type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ForeignFields"		type="foreignFields" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Lookup" 		type="lookup" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType name="foreignFields">
    <xsd:sequence>
      <xsd:element name="ForeignField" type="foreignField" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="foreignField">
    <xsd:sequence>
      <xsd:element name="Name"				type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="DataType"			type="dataTypes" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Display"			type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Mandatory"			type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Layout"			type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Label"				type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Width"				type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="DomainField"			type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="DomainFieldInForeignObject"	type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="KeyType"			type="keyTypes" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="InitialValue"			type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SourceChain" 			type="sourceChain" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BreakUp" 			type="breakup" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FunctionGuardName"		type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType name="lookup">
    <xsd:sequence>
      <xsd:element name="Component"		type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="BypassCriteriaScreen"	type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="StaticParameters"	type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="DynamicParameters"	type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="TargetFields"		type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>





<!-- - - - - - - - - - - - - - - - - - - -->
<!-- Enumerated Types                    -->
<!-- - - - - - - - - - - - - - - - - - - -->

  <xsd:simpleType name="keyTypes">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Primary"/>
      <xsd:enumeration value="Technical"/>
      <xsd:enumeration value="Candidate"/>
   </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>