jaffa-patterngenerator/src/main/java/jaffatools/patterns/library/domain_creator_1_0/domainCreatorMeta_1_0.xsd

<?xml version="1.0" encoding="US-ASCII"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
            jxb:version="1.0">

  <xsd:include schemaLocation="../common_1_0/dataTypes_1_0.xsd"/>

  <xsd:annotation>
    <xsd:appinfo>
      <jxb:schemaBindings>
        <jxb:package name="org.jaffa.patterns.library.domain_creator_1_0.domain"/>
      </jxb:schemaBindings>
    </xsd:appinfo>
  </xsd:annotation>

  <xsd:element name="Root">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DomainObject" 	type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="DomainPackage" 	type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="DatabaseTable" 	type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="MappingPackage" 	type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="PatternTemplate" 	type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="Description" 	type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="LabelToken" 		type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="Fields" 		type="fields" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="Relationships" 	type="relationships" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="fields">
    <xsd:sequence>
      <xsd:element name="Field" type="field" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="relationships">
    <xsd:sequence>
      <xsd:element name="Relationship" type="relationship" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
    
  <xsd:complexType name="field">
    <xsd:sequence>
      <xsd:element name="Name" 			type="xsd:string" minOccurs="1" maxOccurs="1"/>
      
      <xsd:element name="DataType" 		type="xsd:string" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            Typically the DataType is one of the following values
              java.lang.Boolean
              java.lang.Double
              java.lang.Long
              java.lang.String
              org.jaffa.datatypes.DateOnly
              org.jaffa.datatypes.DateTime
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DatabaseFieldName" 	type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="DatabaseDataType" 	type="dataTypes" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="PrimaryKey" 		type="boolean" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="AutoGenerated"		type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DatabaseSequence"		type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Description" 		type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LabelToken" 		type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Mandatory" 		type="boolean" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Relationships" 	type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Width"			type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="IntSize"		type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FracSize"		type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="MinValue"		type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="MaxValue"		type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Layout"		type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Pattern"		type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CaseType"		type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Ignore"		type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
    
  <xsd:complexType name="relationship">
    <xsd:sequence>
      <xsd:element name="ToDomainObject" 	type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ToDomainPackage"	type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="FromCardinality" 	type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ToCardinality" 	type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Type" 			type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="FromFields" 		type="relationshipFields" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ToFields" 		type="relationshipFields" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="relationshipFields">
    <xsd:sequence>
      <xsd:element name="RelationshipField" 	type="relationshipField" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="relationshipField">
    <xsd:sequence>
      <xsd:element name="Name" 			type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="boolean">
   <xsd:restriction base="xsd:string">
    <xsd:enumeration value="T"/>
    <xsd:enumeration value="F"/>
   </xsd:restriction>
  </xsd:simpleType>
  
</xsd:schema>