jaffa-patterngenerator/src/main/java/jaffatools/patterns/library/domain_creator_1_0/domainCreatorMeta_1_0.dtd

<?xml version="1.0" encoding="US-ASCII"?>

<!-- This dtd is used for validating the Meta files for generating the various domain object files  -->

<!ELEMENT Root (DomainObject,DomainPackage,DatabaseTable,MappingPackage,PatternTemplate,Description?,LabelToken?,Fields,Relationships?)>
<!ELEMENT DomainObject (#PCDATA)>
<!ELEMENT DomainPackage (#PCDATA)>
<!ELEMENT DatabaseTable (#PCDATA)>
<!ELEMENT MappingPackage (#PCDATA)>
<!ELEMENT PatternTemplate (#PCDATA)>
<!ELEMENT Description (#PCDATA)>
<!ELEMENT LabelToken (#PCDATA)>

<!ELEMENT Fields (Field+)>
<!ELEMENT Field (Name,DataType,DatabaseFieldName,DatabaseDataType,PrimaryKey?,AutoGenerated?,Description?,LabelToken?,Mandatory?,Width?,IntSize?,FracSize?,MinValue?,MaxValue?,Layout?,Pattern?,CaseType?,Ignore?)>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT DataType (#PCDATA)>
<!ELEMENT DatabaseFieldName (#PCDATA)>
<!ELEMENT DatabaseDataType (#PCDATA)>
<!ELEMENT PrimaryKey (#PCDATA)>
<!ELEMENT AutoGenerated (#PCDATA)>
<!ELEMENT Mandatory (#PCDATA)>
<!ELEMENT Width (#PCDATA)>
<!ELEMENT IntSize (#PCDATA)>
<!ELEMENT FracSize (#PCDATA)>
<!ELEMENT MinValue (#PCDATA)>
<!ELEMENT MaxValue (#PCDATA)>
<!ELEMENT Layout (#PCDATA)>
<!ELEMENT Pattern (#PCDATA)>
<!ELEMENT CaseType (#PCDATA)>
<!ELEMENT Ignore (#PCDATA)>

<!ELEMENT Relationships (Relationship+)>
<!ELEMENT Relationship (ToDomainObject,ToDomainPackage,FromCardinality,ToCardinality,Type,FromFields,ToFields)>
<!ELEMENT ToDomainObject (#PCDATA)>
<!ELEMENT ToDomainPackage (#PCDATA)>
<!ELEMENT FromCardinality (#PCDATA)>
<!ELEMENT ToCardinality (#PCDATA)>
<!ELEMENT Type (#PCDATA)>
<!ELEMENT FromFields (RelationshipField+)>
<!ELEMENT ToFields (RelationshipField+)>
<!ELEMENT RelationshipField (Name)>
