jaffa-core/source/java/org/jaffa/security/domain/security-roles_1_0.dtd

<?xml version="1.0" encoding="US-ASCII"?>

<!ELEMENT roles (role*)>
<!ELEMENT role (description?, include*,exclude*,grant-function-access*) >
<!ATTLIST role name CDATA #REQUIRED >
<!ELEMENT include EMPTY>
<!ATTLIST include name CDATA #REQUIRED >
<!ELEMENT exclude EMPTY>
<!ATTLIST exclude name CDATA #REQUIRED >
<!ELEMENT grant-function-access EMPTY>
<!ATTLIST grant-function-access name CDATA #REQUIRED >
<!ELEMENT description (#PCDATA) >
