jaffa-core/source/java/org/jaffa/rules/metadata/validators_1_0.dtd

<?xml version="1.0" encoding="US-ASCII"?>

<!-- This dtd is used for validating the input xml to the ValidatorMetaDataService -->

<!ELEMENT validators (field-validator*)>
<!ELEMENT field-validator (name,description,class,mandatory,param*)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT class (#PCDATA)>
<!ELEMENT mandatory (#PCDATA)>
<!ELEMENT param EMPTY>
<!ATTLIST param name CDATA #REQUIRED value CDATA #REQUIRED>
