jaffa-patterngenerator/src/main/java/jaffatools/patterns/library/stored_procedure_creator_1_0/storedProcedureCreatorMeta_1_0.dtd

<?xml version="1.0" encoding="US-ASCII"?>

<!-- This dtd is used for validating the Meta files for generating the various stored procedure files  -->

<!ELEMENT Root (StoredProcedure,StoredProcedurePackage,PatternTemplate,Description?,LabelToken?,Fields)>
<!ELEMENT StoredProcedure (#PCDATA)>
<!ELEMENT StoredProcedurePackage (#PCDATA)>
<!ELEMENT PatternTemplate (#PCDATA)>
<!ELEMENT Description (#PCDATA)>
<!ELEMENT LabelToken (#PCDATA)>
<!ELEMENT Fields (Field*)>
<!ELEMENT Field (Name,DataType,DatabaseDataType,Description?,LabelToken?,Mandatory?,Width?,IntSize?,FracSize?,MinValue?,MaxValue?,Layout?,Pattern?,CaseType?,Direction)>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT DataType (#PCDATA)>
<!ELEMENT DatabaseDataType (#PCDATA)>
<!ELEMENT Mandatory (#PCDATA)>
<!ELEMENT Width (#PCDATA)>
<!ELEMENT IntSize (#PCDATA)>
<!ELEMENT FracSize (#PCDATA)>
<!ELEMENT MinValue (#PCDATA)>
<!ELEMENT MaxValue (#PCDATA)>
<!ELEMENT Layout (#PCDATA)>
<!ELEMENT Pattern (#PCDATA)>
<!ELEMENT CaseType (#PCDATA)>
<!ELEMENT Direction (#PCDATA)>
