jaffa-patterngenerator/src/main/java/jaffatools/patterns/library/common_1_0/breakup_1_0.xsd

<?xml version="1.0" encoding="US-ASCII"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
            jxb:version="1.0"
            elementFormDefault="qualified">

  <!-- breakup used by finder, maintenance -->
  <xsd:complexType name="breakup">
    <xsd:sequence>
        <xsd:element name="WidgetType"		type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="StaticValues"	type="staticValues" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="DynamicValues"	type="dynamicValues" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="InitialValue"	type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="staticValues">
   <xsd:sequence>
        <xsd:element name="StaticValue"		type="staticValue" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
    
  <xsd:complexType name="staticValue">
    <xsd:sequence>
        <xsd:element name="Code"	 	type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="Description"		type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="dynamicValues">
    <xsd:sequence>
        <xsd:element name="DomainClassName"		type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="CodeFieldName"		type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="DescriptionFieldName"	type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="BreakupCriteriaFields"	type="breakupCriteriaFields" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="CodeHelperInterface"		type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="AppendCodeAndDescription"	type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="AppendBeginMarker"		type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="AppendEndMarker"		type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="breakupCriteriaFields">
    <xsd:sequence>
        <xsd:element name="BreakupCriteriaField"	type="breakupCriteriaField" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
      
  <xsd:complexType name="breakupCriteriaField">
    <xsd:sequence>
        <xsd:element name="DataType"		type="dataTypes" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="DomainField"		type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="Operator"		type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="Values"		type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- End - breakup struture -->
  

</xsd:schema>