jaffa-patterngenerator/src/main/java/jaffatools/patterns/library/data_security_policy_1_1/data-security-policy_1_1.dtd

<?xml version="1.0" encoding="US-ASCII"?>

<!-- This dtd supercedes the script-generator_1_0.dtd for generating data security policy scripts-->

<!-- This dtd is used for validating the XML file for generating the sql scripts -->

<!ELEMENT Domain (PatternTemplate,MappingPackage,SchemaName,SqlPrefix,BasePackage,Roles?,BasePredicate?,Description?,Tables)>
<!ELEMENT PatternTemplate (#PCDATA)>
<!ELEMENT MappingPackage (#PCDATA)>
<!ELEMENT SchemaName (#PCDATA)>
<!ELEMENT SqlPrefix (#PCDATA)>
<!ELEMENT BasePackage (#PCDATA)>

<!ELEMENT Roles (Role+)>
<!ELEMENT Role (#PCDATA)>

<!ELEMENT BasePredicate (#PCDATA)>
<!ELEMENT Description (#PCDATA)>

<!ELEMENT Tables (Table+)>

<!ELEMENT Table (PolicyName,SourceTable,(Direct|Indirect|Custom))>
<!ELEMENT PolicyName (#PCDATA)>
<!ELEMENT Direct (SourceField)>
<!ELEMENT Indirect (SourceField,ForeignTable,ForeignField)>
<!ELEMENT Custom (Predicate)>


<!ELEMENT SourceTable (#PCDATA)>
<!ELEMENT SourceField (#PCDATA)>
<!ELEMENT ForeignTable (#PCDATA)>
<!ELEMENT ForeignField (#PCDATA)>
<!ELEMENT Predicate (#PCDATA)>
